@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.garis {
  background: #cc5500;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
}
.satuan {
  background: #cc5500;
  display: block;
  margin-top: 20px;
  padding: 30px 30px 30px 30px;
  margin-right: 700px;
  border-radius: 10px;
  
  font-weight: 600;
}

.satuan h1 {
  color: blue;
}

.satuan input {
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  outline: none;
  width: 350px;
}

.back button {
  position: fixed;
  font-size: 12px;
  margin-top: 30px;
  margin-left: 10px;
  width: 70px;
  height: 50px;
  background: #2d2d2d;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
.arrow button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #2d2d2d;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 50%;
}

.Artikel button,
.subscribe button {
  background: #cc5500;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.Artikel button {
  margin-top: 10px;
}

form button {
  background: #2d2d2d;
  border: none;
  color: #fff;
  font-size: 12px;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  margin-right: 15px;
  outline: none;
  cursor: pointer;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.3s;
}

nav.black {
  background: #2d2d2d;
  opacity: 0.8;
  height: 100px;
  padding: 10px 100px;
}

nav .logo {
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 22px 20px;
  height: 80px;
  float: left;
  transition: 0.3s;
  cursor: pointer;
}

nav .logo span {
  color: #cc5500;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
}

nav ul li {
  list-style: none;
  line-height: 80px;
  color: #2d2d2d;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

nav.black ul li {
  color: #fff;
}

nav ul li:focus {
  outline: none;
}

.check:selected {
  color: blue;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("bg.jpg");
  display: flex;
  justify-content: flex-start;
  padding: 300px 100px;
}

.textbox h2 {
  font-size: 50px;
}

.textbox p {
  width: 50%;
}


.Artikel, .judul {
  width: 100%;
  height: 100vh;
  padding: 250px 100px;
}

.Artikel h1 {
  font-size: 50px;
  width: 75%;
}

.Artikel p {
  width: 75%;
}

.Artikel,
.counter {
  width: 100%;
  height: 100vh;
}

.counter {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

.counter .counter-left {
  width: 50%;
  height: 100%;
  float: right;
  flex-direction: column;
}

.counter .counter-left h1 {
  font-size: 42px;
  padding-top: 250px;
  padding-left: 100px;
  color: #2d2d2d;
}

.counter .counter-left p {
  width: 75%;

  padding-left: 100px;
}

.counter .counter-right {
  width: 50%;
  height: 100%;
  float: right;
  background: #cc5500;
  color: #2d2d2d;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.counter .counter-right form {
  margin-top: 125px;
  padding-left: 100px;
}

.hasil {
  background: #cc5500;
  margin-top: 20px;
  font-size: 16px;
  padding-left: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
}
/*-------------------------------------------------------------------*/
.gender, .activity {
  margin-top: 10px;
  font-size: 24px;
}

.gender label, .activity label {
  font-size: 16px;
  font-weight: 500;
}

.activity p {
  font-size: 12px;
  font-weight: 500;
  width: 85%;
}

.dummy .judul {
  height: 100vh;
}
.activity span {
  font-size: 12px;
  font-weight: 700;
  width: 85%;
}

.masukan {
  margin-top: 10px;
}
/*-------------------------------------------------------------------*/

form h1 {
  font-size: 40px;
}

form input[type="number"]{
  font-size: 16px;
}
form input[id="usia"] {
  background: #fff;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 15px;
}

form input[id="berat"] {
  background: #fff;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 20px;
}

form input[id="tinggi"] {
  background: #fff;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0 15px;
}

footer {
  position: relative;
  width: 100%;
  height: 25vh;
  background: #2d2d2d;
  margin-top: auto;
}

footer .socialmedia {
  float: left;
}

footer .socialmedia button {
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #cc5500;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}

footer .foot {
  position: absolute;
  margin: 0;
  padding: 0;
}

footer .foot .logo {
  position: absolute;
  margin: 0px 500px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 22px 20px;
  height: 80px;
  cursor: pointer;
}

footer .foot .logo span {
  color: #cc5500;
}

footer .foot p {
  margin: 70px 500px;
  color: #fff;
  font-size: 12px;
}

footer .subscribe {
  float: right;
  margin: 50px;
  padding: 0;
}

footer .subscribe input {
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 5px 15px 5px 15px;
  outline: none;
}

.dummy {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.dummy h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.dummy h2 {
  font-size: 24px;
  margin-top: 20px;
}

.dummy p {
  font-size: 16px;
}

.addition {
  width: 100%;
  background: #cc5500;
  height: 20px;
}

.addition2 {
  width: 100%;
  background: #cc5500;
  height: 60px;
}

.left-addition {
  width: 40px;
  height: 100%;
  background: #cc5500;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}